@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Quicksand&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Open+Sans:wght@200&family=Source+Code+Pro:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Lobster+Two:ital@1&family=Open+Sans:wght@300&family=Source+Code+Pro:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Lobster+Two:ital@1&family=Lora:ital@1&family=Open+Sans:wght@300&family=Source+Code+Pro:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Lobster+Two:ital@1&family=Lora:ital@1&family=Open+Sans:wght@300&family=Roboto+Flex:opsz@8..144&family=Source+Code+Pro:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Goudy+Bookletter+1911&family=Lobster+Two:ital@1&family=Lora:ital@1&family=Open+Sans:wght@300&family=Roboto+Flex:opsz@8..144&family=Roboto+Slab:wght@100&family=Source+Code+Pro:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Goudy+Bookletter+1911&family=Lobster+Two:ital@1&family=Lora:ital@1&family=Open+Sans:wght@300&family=Roboto+Flex:opsz@8..144&family=Roboto+Slab:wght@200;400&family=Source+Code+Pro:ital,wght@1,500&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/*INICIO*/

.form-login {
  width: 450px;
  height: 375px;
  background-color: white;
  background: -webkit-linear-gradient(to right, #689ccf, #43cea2);
  background: linear-gradient(to right, #689ccf, #43cea2);
  box-shadow: 7px 13px 40px black;
  padding: 10px 10px;
  border-radius: 12px;
  padding: 5px;
  transform: translate(-50%, -50%);/*ancho,alto*/
  top: 50%;
  left: 50%;
  position: absolute;
}

.title {
  margin-top: 6px;
  font-family: 'Source Code Pro', monospace;
  font-size: 40px;
}

.patientView {
  background: #36D1DC;
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
  background: linear-gradient(to right, #5B86E5, #36D1DC);
}

.index {
  background-image: url(../IMG/build.jpeg);
  background-size: cover;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

input {
  display: block;
  width: 60%;
  height: 28px;
  border: bottom 1px solid #f64f59;
  margin: auto;
  padding: 10px 10px 10px;
  border-color: violet;
}

label {
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  border-top: 2px;
  color: #000;
}

img {
  width: 100px;
  height: 100px;
}

/*paciente*/
.infoPatient{
  height: auto;
  width: 1410px;
  margin-left: 14px;
  margin-right: 8px;

}

.information {
  width: 1109px;
  height: 700px;
  float: right;
  background-color: #fff;
  margin-top: 15px;
  border: 1px solid black;
  border-radius: 9px;
}

aside {
  width: 301px;
  height: 700px;
  float: left;
  background-color: #d9d9d9;
  margin-top: 15px;
  border: 1px solid black;
  border-radius: 9px;
}

.informationTitle {
  margin-top: 5px;

  font-family: 'Roboto Flex', sans-serif;
}

.fieldset {
  border: rgb(255, 255, 255);
}

.list {
  margin-top: 30px;
  margin-left: 30px;
}



li {
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  color: #20479c;
}

.btnInfo {
  width: 250px;
  height: 40px;
  transform: translate(7%, -20%);
  border-radius: 5px;
  border-color: #36dc9c;
  color: #000;
  transition: 0.3s;
  cursor: pointer;
  background-color: #ffffff;
}

.btnInfo:hover {
  opacity: 1;
  box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.24), 0 15px 30px 0 rgba(0, 0, 0, 0.19);
  background-color: #36dc9c;
}

#laboratory {
  transform: translate(50%, 50%);
  border: 0px solid black;
  width: 500px;
}

#medicalExpedient {
  transform: translate(80%, 50%);
  background-color: #ffff;
  border: 0px solid black;
}

#tableTitle {
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
}

th,td {
  border-bottom: 3px solid #ddd;
}
tr{
  background-color: #f2f2f2;

}
tr:nth-child(even) {
  background-color: #d6ebfc;
}

tr {
  font-size: 20px;
  margin-bottom: 3px;
  font-family: 'Quicksand', sans-serif;
}
.labelsPatient{
  font-size: 20px;
}

/*laboratorios*/
header {
  background-color: #fff;
}
.laboratoryView{
  background: #03888d;
}
.infoNewPatient {
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  color: #000;
  margin-right: 20px;
  font-weight: 300;
  position: relative;
}

.hamburger-menu {
  position: relative;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.hamburger-menu .bar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #eae5a4;
  border-radius: 3px;
  transition: 0.5s;
}

.title {
  position: center;
}

table {
  background-color: #92ddc6;
  border-collapse: collapse;
  width: 100px;
  height: auto;
}

table,.tr1,.th1,.td1 {
  border: 2px solid #000;

  height: 50px;
  text-align: center;
}

.table1 {
  background-color: antiquewhite;
}

table,
.tr1,
.th1,
.td1 {
  border: 2px solid #000;
  width: 400px;
  height: 50px;
  text-align: center;
  transform: translate(0%,0%);
}

.patientExpedient {
  background-color: #cae8ff;
  height: 220px;
  width: 500px;
  margin-top: 60px;
  margin-right: 100px;
  margin-left: 450px;
  border-radius: 9px;
  box-shadow: 7px 13px 40px black;
}
.imgLaboratory{
float: left;
margin-left: 20px;
max-width: 800px;
max-height: 800px;
}
.addPatient{
  background: #dadfee;
  height: 190px;
  width: 390px;
  transform: translate(125%, 0%);
  border-radius: 9px;
}
.addInfo{
  border: 2px solid #000;
  transform: translate(-25%,0%);
  float: right;
}
.btnAddPatient{
  margin-top: 20px;
  margin-bottom: 20px;
  transform: translate(440%, 0%);
  width: 140px;
  height: 25px;
  background-color: #ffeb9b;
  border: 0px;
  font-size: 18px;
}
.btnSavePatient{
  margin-bottom: 20px;
  transform: translate(262%, 0%);
  height: 30px;
  width: 60px;
  position: inline-block;
  border: 0px;
  font-size: 14px;
  border-radius: 5px;
}
.btnSavePatient:hover{
  background-color: #d6ebfc;
  border: 1px solid black;
  cursor: pointer;
}

.labList{
margin-top: 20px;
margin-bottom: auto;
/*text-align: center;*/
transform: translate(43%, 0%);
}

.waitingTable{
  display: flex;
  position: absolute;
  left: 20%;
  margin-top: 30px;
}

.searcher {
  margin-top: 150px;
  transform: translate(260%, 50%);
  width: 220px;
  height: 80px;
  border-radius: 19px solid black;
}
.table{
  margin-right: 30px;
}
.btnAddLaboratory{
  transform: translate(-10%, 0%);
  margin-top: 20px;
  height: 41px;
  width: 60px;
  position: inline-block;
  border: 0px;
  font-size: 14px;
  border-radius: 5px;
}
.btnAddLaboratory:hover{
  cursor: pointer;
}
.send{
  max-width: 50px;
  max-height: 50px;
}
/*Vista medico*/

.doctorView {
  background: #03888d;
}

.projectTitle {
  font-family: 'Cinzel', serif;
  font-size: 40px;
}
.infoLocation{
  font-family: 'Roboto Slab', serif;
  font-weight:normal ;
}

a {
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  margin-left: 10px;
  font-weight: 900;
}
.doctorLabels{
  font-size: 18px;
  margin-left: 5px;
}
.infoAboutPatient {
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  color: #000;
  margin-right: 20px;
  font-weight: 300;
}

.infoDoctor {
  width: 800px;
  /*background-color: #d6ebfc;*/
  background-color:#cae8ff;
  margin-left: 300px;
  margin-top: 30px;
  border-radius: 9px;
  box-shadow: 7px 13px 40px black;
}

.aboutPatient {
  background-color: #dadfee;
  height: 400px;
  width: 500px;
  margin-top: 10px;
  margin-right: 100px;
  margin-left: 450px;
  border-radius: 9px;
  box-shadow: 7px 13px 40px black;
}

.infoPatientList {
  margin-left: 30px;
  font-family: 'Comfortaa', cursive;
}

.prescription {
  background-color: #cae8ff;
  height: 33vh;
  width: 800px;
  margin-right: 6%;
  margin-left: 300PX;
  margin-top: 10px;
  border-radius: 9px;
  box-shadow: 7px 13px 40px black;
}

.prescription h1 {
  text-align: center;
  margin-bottom: 5px;
  
}

.diagnostic {
  margin-bottom: 20px;
  border-color: #000;
}

.search {
  margin-top: 5px;
  transform: translate(260%, 0%);
  width: 220px;
  height: 80px;
  border-radius: 19px solid black;
}

.sectionSearch {
  margin-top: 30px;
  float: left;
}

.btnSectionSearch {
  margin-top: 20px;
  float: right;
  transform: translate(80%, -120%);

}
.searchPatient {
  width: 200px;
  font-size: 16px;
  border-color: #000;
}
.btnSearch {
  background-color: #fff;
  color: #000;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  border-radius: 18px ;
}
.btnSearch:hover{
  cursor: pointer;
}
.zoom{
  max-width: 40px;
  max-height: 40px;
}
.btnAdd{
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  width: 45px;
  height: 45px;
}
.btnAdd:hover{
  cursor: pointer;
}
.add{
  text-align: center;
  max-width: 40px;
  max-height: 40px;
  transform: translate(7%,0%);
}
.btnB2 {
  background-color: #fff;
  color: #000;
  border: 1px solid black;
  height: 30px;
  width: 70px;
  border-radius: 18px ;
  box-shadow: 0 1px 1px black;
}
.btnB:hover{
  cursor: pointer;
  
}
.validate {
  margin-top: 20px;
  border-radius: 4px;
  font-size: 20px;
  height: 35px;
  width: 80px;
  background-color: #ffff;
  color: #000;
  border: 0px;
  margin-bottom: 20px;
}

.validate:hover {
  background-color: #f0d7c5;
  color: #000;
}
.btnLeaveDoctor {
  margin-top: 20px;
  border-radius: 4px;
  font-size: 20px;
  height: 35px;
  width: 80px;
  background-color: #ffff;
  color: #000;
  border: 0px;
  margin-bottom: 20px;
  transform: translate(-30%,0%);
}

.btnLeaveDoctor:hover {
  background-color: #f0d7c5;
  color: #000;
}
select{
  font-size: 18px;
  
}
/*.actualizarDatos{
  background: #fff;
  height: 190px;
  width: 350px;
  transform: translate(150%, 0%);
  border-radius: 9px;
  box-shadow: 0 6px 20px black;
}*/
.btnUpdateInfo{
  margin-bottom: 20px;
  margin-top: 30px;
  transform: translate(400%, 0%);
  height: 30px;
  width: 150px;
  font-size: 18px;
  background-color: #ffeb9b;
  border: 0px;
}
.btnUpdateInfo:hover{
  background-color: #ffeb9b;
  border: 0px;
  cursor: pointer;
}
.list3 {
  margin-left: 10px;
}
.updInfo{
  border: 1px solid #000;
  font-size: 18px;
}
.btnSaveInfo{
  margin-top: 20px;
  width: 130px;
  height: 30px;
  /*background-color: #82c2e2;*/
  background-color: white;
  color: black;
  font-size: 18px;
  border: 0px;
  transform: translate(-38%,0%);
}
.btnSaveInfo:hover{
  background-color: whitesmoke;
  border: 0px;
  cursor: pointer;
}
.tableUpdatePatient{
  transform: translate(125%,0%);
  border: 0px;
  box-shadow: 0 6px 20px black;
  }
.tr3{
    height: 50px;
  }
.updateInfo{
text-align: center;
}
.checkbox{
  width: 30px;
  height: 30px;
}
