body{
    background-color: #dfdfdf;
    margin: 0px;
    
}
a{
    font-family: 'Patrick Hand', cursive;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
.Partelogo{
    display: flex;
}
.Partelogo img{
    margin-right: 20%;
    max-height: 160px;
    transform: translate(18px, 10%);
}
.DatosMedico{
    background-color: #ffffff;
    height: 40vh;
    margin-right: 6%;
    margin-left: 6%;
    margin-top: 7%;
}

.ExpedientePaciente{
    transform: translate(0px, 40px);
    background-color: #51f883;
    height: 55vh;
    margin-right: 100px;
    margin-left: 100px;

}
.DiagnosticoTratamiento{
    transform: translate(0px, 90px);
    background-color: #ffffff;
    height: 45vh;
    margin-right: 6%;
    margin-left: 6%;
    margin-bottom: 10%;
}
button{
    background-color: #1dd2d8; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.DerechosPagina{
    background-color: #5adbd0;
    height: auto;
}

